.mr-watts {
  border: solid 3px #000;
  max-width: 1555px;
  height: auto;
  margin-left: 3rem;
}

/*

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.fun {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-duration: 4s;
  animation-name: example;
  margin-left: 3rem;
  animation-direction: alternate-reverse;
} */
